<h1 class="text-center mb-4 text-white" style="background-color:#333;">Forget My Password</h1>
<div class="container">
  <div class="form-container">

    <h2 class="text-center mb-4">Forgot Password</h2>

    <!-- Progress bar -->
    <div class="progress mb-4">
      <div class="progress-bar progress-bar-striped progress-bar-animated" id="progressBar"
        [style.width]="progressBarWidth"></div>
    </div>

    <!-- Step 1: Send Email -->
    @if(!sendEmailFlag){
    <div id="step1" class="form-step">
      <h4 class="mb-3">Step 1: Enter Your Email</h4>
      <form [formGroup]="sendEmailForm" (ngSubmit)="sendEmail(sendEmailForm)">
        <div class="mb-4">
          <label for="email" class="form-label">Email address</label>
          <input formControlName="email" type="email" class="form-control" id="email" placeholder="Enter your email"
            required>
          @if(sendEmailForm.get('email')?.errors !== null && sendEmailForm.get('email')?.touched && sendEmailError ===
          ''){
          <div class="text-danger mt-3">
            @if(sendEmailForm.get('email')?.errors?.['required']){<p>Email Required</p>}
            @if(sendEmailForm.get('email')?.errors?.['email']){<p>Invalid email</p>}
          </div>
          }
          @if(sendEmailError !== ''){
          <div class="text-danger mt-3">
            <p>{{sendEmailError}}</p>
          </div>
          }
        </div>
        <button [disabled]="sendEmailForm.invalid" type="submit" class="btn btn-dark w-100">Send Verification
          Code</button>
      </form>
    </div>
    }

    <!-- Step 2: Verify Code -->
    @if(sendEmailFlag && !verifyCodeFlag){
    <div id="step2" class="form-step">
      <h4 class="mb-3">Step 2: Verify Code</h4>
      <form [formGroup]="verifyCodeForm" (ngSubmit)="verifyCode(verifyCodeForm)">
        <div class="mb-4">
          <label for="code" class="form-label">Verification Code</label>
          <input formControlName="resetCode" type="text" class="form-control" id="code"
            placeholder="Enter the code sent to your email" required>
          @if(verifyCodeForm.get('resetCode')?.errors !== null && verifyCodeForm.get('resetCode')?.touched &&
          verifyCodeError === ''){
          <div class="text-danger mt-3">
            @if(verifyCodeForm.get('resetCode')?.errors?.['required']){<p>Reset Code Required</p>}
            @if(verifyCodeForm.get('resetCode')?.errors?.['maxlength']){<p>Invalid Reset Code</p>}
          </div>
          }
          @if(verifyCodeError !== ''){
          <div class="text-danger mt-3">
            <p>{{verifyCodeError}}</p>
          </div>
          }
        </div>
        <button [disabled]="verifyCodeForm.invalid" type="submit" class="btn btn-dark w-100">Verify Code</button>
      </form>
    </div>
    }

    <!-- Step 3: Change Password -->
    @if(verifyCodeFlag){
    <div id="step3" class="form-step">
      <h4 class="mb-3">Step 3: Change Your Password</h4>
      <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword(changePasswordForm)">
        <div class="mb-4">
          <label for="newPassword" class="form-label">New Password</label>
          <input formControlName="password" type="password" class="form-control" id="newPassword"
            placeholder="Enter new password" required>
          @if(changePasswordForm.get('password')?.errors !== null && changePasswordForm.get('password')?.touched){
          <div class="text-danger mt-3">
            @if(changePasswordForm.get('password')?.errors?.['required']){<p>Password Required</p>}
            @if(changePasswordForm.get('password')?.errors?.['minlength'] ||
            changePasswordForm.get('password')?.errors?.['maxlength']){
            <p>Password length must be between 6 and 20 characters</p>}
          </div>
          }
        </div>
        <div class="mb-4">
          <label for="confirmPassword" class="form-label">Confirm New Password</label>
          <input formControlName="confirmPassword" type="password" class="form-control" id="confirmPassword"
            placeholder="Confirm new password" required>
          @if(changePasswordForm.get('confirmPassword')?.errors !== null &&
          changePasswordForm.get('confirmPassword')?.touched && changePasswordError === ''){
          <div class="text-danger mt-3">
            @if(changePasswordForm.get('confirmPassword')?.errors?.['required']){<p>Confirm Password Required</p>}
            @if(changePasswordForm.get('confirmPassword')?.errors?.['minlength'] ||
            changePasswordForm.get('confirmPassword')?.errors?.['maxlength']){
            <p>Confirm Password length must be between 6 and 20 characters</p>}
          </div>
          }
          @if(changePasswordError !== ''){
          <div class="text-danger mt-3">
            <p>{{changePasswordError}}</p>
          </div>
          }
        </div>
        <button [disabled]="changePasswordForm.invalid" type="submit" class="btn btn-dark w-100">Change
          Password</button>
      </form>
    </div>
    }
  </div>
</div>