<!-- Navigation Bar -->

<nav style="background-color:#333; padding: 10px;">
  <div style="display: flex; justify-content: space-between; align-items: center;">

    <!-- Logo -->
    <div style="display: flex; align-items: center;">
      <img [src]="logo" alt="Logo" style="height: 40px; margin-right: 10px;">
      <a style="color:white; font-size: 24px; text-decoration:none;">E-Commerce</a>
    </div>

    <!-- Menu Items -->
    <ul style="list-style: none; display: flex; gap: 20px; margin: 0; padding: 0;">
      <li><a [routerLink]="['/']" style="color:white; text-decoration:none;">Home</a></li>
      <li><a [routerLink]="['/products']" style="color:white; text-decoration:none;">Products</a></li>
      <li><a [routerLink]="['/about']" style="color:white; text-decoration:none;">About</a></li>
      <li><a [routerLink]="['/wishlist']" style="color:white; text-decoration:none;">Wishlist</a></li>
      <li><a [routerLink]="['/myreviews']" style="color:white; text-decoration:none;">Reviews</a></li>
    </ul>

    <!-- Signup, Login, Logout, Cart -->
    <div style="display: flex; gap: 10px; align-items: center;">
      @if(!isLogin){
      <a [routerLink]="['/signup']" style="color:white; text-decoration:none;">Signup</a>
      <a [routerLink]="['/login']" style="color:white; text-decoration:none;">Login</a>
      }
      @if(isLogin){

        <!-- Cart Icon Button -->
        <a [routerLink]="['/cart']" style="color:white; text-decoration:none; margin-left: 10px;">
          <i class="fas fa-shopping-cart"></i>
        </a>

        <a (click)="logout()" style="color:white; text-decoration:none; cursor: pointer;">Logout</a>
     }
    </div>

  </div>
</nav>