<h1 class="text-center mb-4 text-white" style="background-color:#333;">Shopping Cart</h1>


<div class="cart-container shadow">

  <table class="cart-table ">
    <thead>
      <tr>
        <th>Product</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
        <th>Products Length: {{productsLength}}</th>
        <th>
          <div>
            <a (click)="clearCart()" class="btn">Clear Cart</a>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      @for(item of cart?.cartItems; track item._id){
      <tr class="m-auto">
        <td>
          <img [src]="productImage + item?.product?.cover" alt="item?.product?.name">
        </td>
        <td>{{item?.product?.name}}</td>
        <td>{{item?.price | currency}}</td>
        <td>{{item?.quantity}}</td>
        <td>{{(item?.quantity * item?.price) | currency}}</td>
        <td>
          <button (click)="removeProductFromCart(item._id)" class="remove-btn">Remove</button>
        </td>
      </tr>
      }
    </tbody>
  </table>

  <!-- Promo Code Input -->
  <form [formGroup]="promoCodeForm" (ngSubmit)="applyPromoCode(promoCodeForm)" class="promo-code">
    <input formControlName="name"  type="text" placeholder="Enter Promo Code" class="promo-input">
    <button (click)="applyPromoCode(promoCodeForm)" class="btn apply-btn">Apply</button>
  </form>

  <!-- Address Input -->
  <form [formGroup]="addressForm" class="address-input">
    <textarea formControlName="address" placeholder="Enter Delivery Address" class="address-textarea"></textarea>
  </form>
@if(cart?.totalPriceAfterDiscount){
  <div class="cart-summary">
    <h2>Cart Summary</h2>

    <p>Subtotal: {{cart?.totalPrice | currency}}</p>
    <p>Shipping: {{deliveryFees | currency}}</p>
    <h5>Total: {{(cart?.totalPrice + deliveryFees) | currency}}</h5>
    <h3>After Discount: {{cart?.totalPriceAfterDiscount + deliveryFees | currency}}</h3>       
    <button (click)="createOrder(addressForm)" class="btn proceed-btn">Proceed to Checkout</button>
  </div>
}@else{<div class="cart-summary">
      <h2>Cart Summary</h2>      
      <p>Subtotal: {{cart?.totalPrice | currency}}</p>
      <p>Shipping: {{deliveryFees | currency}}</p>
      <h3>Total: {{(cart?.totalPrice + deliveryFees) | currency}}</h3>
      <button (click)="createOrder(addressForm)" class="btn proceed-btn">Proceed to Checkout</button>
  </div>
    }
    <br><br><br>
</div>
<br>
