<div class="cart-container">
  <h1>Shopping Cart</h1>

  <table class="cart-table">
    <thead>
      <tr>
        <th>Product</th>
        <th>name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
        <th>Products Length: {{productsLength}}</th>
        <th><div><a (click)="clearCart()" class="btn">Clear Cart</a></div></th>

      </tr>
    </thead>
    <tbody>
      <!-- Item 1 -->
      @for(item of cart?.cartItems; track item._id){
      <tr class="m-auto">
        <td>
          <img [src]="productImage+item?.product?.cover" alt="item?.product?.name">
          
        </td>
        <td>{{item?.product?.name}}</td>
        <td>{{item?.price|currency}}</td>
        <td>
          {{item?.quantity}}
        </td>
        <td>{{(item?.quantity * item?.price)|currency}}</td>
        <td>
          <button (click)="removeProductFromCart(item._id)" class="remove-btn">Remove</button>
        </td>
      </tr>
    }
      
    </tbody>
  </table>

  <div class="cart-summary">
    <h2>Cart Summary</h2>
    
    <p>Subtotal: {{cart?.totalPrice|currency}}</p>
    <p>Shipping: {{deliveryFees|currency}}</p>
    <h3>Total: {{(cart?.totalPrice+deliveryFees)|currency}}</h3>
    @if(cart?.totalPriceAfterDiscount){
      <div class="d-flex justify-content-between mb-5">
        <h5 class="text-uppercase">After Discount</h5>
        <h5>{{cart?.totalPriceAfterDiscount+deliveryFees|currency}}</h5>
      </div>
    }
    <a class="btn">Proceed to Checkout</a>
  </div>
</div>