<!-- Signup Page -->
<div style="max-width: 400px; margin: 50px auto; padding: 20px; background-color: #c9c8c8; border-radius: 10px;">
  <h2 style="text-align: center; margin-bottom: 20px;">Sign Up</h2>
  <!-- <h2 class="text-center">{{signupForm.get('email')?.errors|json}}</h2> -->

  <form [formGroup]="signupForm" (ngSubmit)="signUp(signupForm)">
    <div style="margin-bottom: 15px;">
      <label>Full Name</label>
      <input formControlName="name" style="width: 100%; padding: 8px; border: 1px solid #ccc; border-radius: 5px;">
      @if (signupForm.get('name')?.errors && signupForm.get('name')?.touched) {<div class="text-danger">
        @if(signupForm.get('name')?.errors?.['required']) {
          <p class="text-danger">Name is required</p>
        }
        @if(signupForm.get('name')?.errors?.['minlength'] || signupForm.get('name')?.errors?.['maxlength']){
          <p>Name length must be between 3,20</p>
        }
      </div>}
    </div>

    <div style="margin-bottom: 15px;">
      <label>Email</label>
      <input formControlName="email" style="width: 100%; padding: 8px; border: 1px solid #ccc; border-radius: 5px;">
          @if (signupForm.get('email')?.errors && signupForm.get('email')?.touched) {
            <div class="text-danger">
              @if(signupForm.get('email')?.errors?.['required']) {
                <p class="text-danger">Email is required</p>
                }
              @if(signupForm.get('email')?.errors?.['email']){
                <p>Invalid Email</p>
                }
            </div>}
        @if(emailErrors!==''){
        <div class="text-center text-danger">
          {{emailErrors}}
        </div>
        }
    </div>



    <div style="margin-bottom: 15px;">
      <label>Phone Number</label>
      <input formControlName="phoneNumber"
        style="width: 100%; padding: 8px; border: 1px solid #ccc; border-radius: 5px;">
          @if (signupForm.get('phoneNumber')?.errors && signupForm.get('phoneNumber')?.touched) {           
            <div class="text-danger">
              @if(signupForm.get('phoneNumber')?.errors?.['required']){
                <p class="text-danger">Phone Number is required</p>
              }
              
            </div>}
        @if(signupForm.get('phoneNumber')?.errors?.['pattern']){
          <div class="text-danger">Phone Number must be Numeric Value</div>
            }
        @if(phoneNumberErrors!==''){
          <div class="text-center text-danger">
              {{phoneNumberErrors}}
          </div>}
    </div>


    <div style="margin-bottom: 15px;">
      <label>Password</label>
      <input formControlName="password" type="password"
        style="width: 100%; padding: 8px; border: 1px solid #ccc; border-radius: 5px;">
          @if (signupForm.get('password')?.errors && signupForm.get('password')?.touched) {
          <div class="text-danger">
            @if(signupForm.get('password')?.errors?.['required']) {
            <p class="text-danger">Password is required</p>
            }
            @if(signupForm.get('password')?.errors?.['minlength'] || signupForm.get('password')?.errors?.['maxlength']){
            <p>Password length must be between 6,20</p>
            }
          </div>}
    </div>


    <div style="margin-bottom: 15px;">
      <label>Confirm Password</label>
      <input formControlName="confirmPassword" type="password"
        style="width: 100%; padding: 8px; border: 1px solid #ccc; border-radius: 5px;">
          @if (signupForm.get('confirmPassword')?.errors && signupForm.get('confirmPassword')?.touched) {
          <div class="text-danger">
            @if(signupForm.get('confirmPassword')?.errors?.['required']) {
            <p class="text-danger">Confirm Password is required</p>
            }
            @if(signupForm.get('confirmPassword')?.errors?.['minlength'] || signupForm.get('confirmPassword')?.errors?.['maxlength']){
            <p>Confirm Password length must be between 6,20</p>
            }
          </div>}
        @if(passwordErrors!==''){
        <div class="text-center text-danger">
          {{passwordErrors}}
        </div>}
    </div>
    

    <!-- Submit Button -->
<button [disabled]="signupForm.invalid" class="btn text-center"
  style="width: 100% ;background-color: #3528a7; color: white; border: none; padding: 10px; border-radius: 5px;">
  Sign Up
</button>

  </form>
</div>